@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');
body{font-family: 'Poppins', sans-serif;}
.active{
  background-color:#e9e9ff;
  border-radius: 20px;
}
.ico_delete {
  width: 50%;
  margin:auto;
}
.ico_edit{
  width: 50%;
  margin:auto;
}
.ico_delete:hover {
  opacity: 0.7;
  cursor: pointer;
}
.Vegetables {
  border: #7bb380;
}
.Fruit {
  border:#e6c96b;
}
.Meat {
  border: #feb1b9;
}
.Fish {
  border: #ae7f6c;
}
.Dairy {
  border: #79ddd1;
}
.disable {
  opacity: .1;
}